@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #868686;
}

ul {
  padding: 0;
}

button {
  padding: 0.4em;
  border: 1px solid;
}

.header , .footer {
  display: flex;
  justify-content: space-between;
  padding: 0 1em 0 1em;
}

.footer {
  background-color: #eeeeee;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.left-links , .right-links{
  display: flex;
  gap: 1em;
}
